<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".POSApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POSApp"
        tools:targetApi="31">

        <!-- Splash Screen -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.POSApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp" />

        <!-- Main Activity (Dashboard) -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp"
            android:windowSoftInputMode="adjustPan" />

        <!-- POS Terminal Activity -->
        <activity
            android:name=".ui.POSActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp"
            android:screenOrientation="portrait" />

        <!-- Product Management Activity -->
        <activity
            android:name=".ui.ProductActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp" />

        <!-- Add/Edit Product Activity -->
        <activity
            android:name=".ui.AddEditProductActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp" />

        <!-- Sales History Activity -->
        <activity
            android:name=".ui.SalesHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp" />

        <!-- Sale Details Activity -->
        <activity
            android:name=".ui.SaleDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp" />

        <!-- Barcode Scanner Activity -->
        <activity
            android:name=".ui.BarcodeScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp" />

        <!-- Inventory Activity -->
        <activity
            android:name=".ui.InventoryActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.POSApp" />

    </application>

</manifest>